<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="navbar-nav me-auto">
        <h1><a class="nav-link navbar-brand" href="#">探求学園Rails専攻</a></h1>
      </div>
      <div>
        <ul class="navbar-nav">
            <% if logged_in? %>
              <p><%= "#{@user.first_name} #{@user.last_name}" %></p>
              <a class="nav-link text-dark" href="#">商品検索</a>
              <a class="nav-link text-dark" href="#">カート</a>
              <a class="nav-link text-dark" href="#">注文履歴</a>
              <%= link_to 'ユーザー情報', user_path(current_user), class: "nav-link text-dark button" %>
              <%= button_to 'ログアウト', logout_path, method: :delete, class: "nav-link text-dark button" %>
            <% else %>
              <%= link_to 'ログイン', login_path, class: "nav-link text-dark button" %>
              <a class="nav-link text-dark" href="#">新規登録</a>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
